
@media only screen and (min-width:1366px) and (max-width:1444px) {
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
    }

    .gwd_banner_fireworks_2 {
    }

    .gwd_banner_fireworks_2 {
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
    }

    .gwd_banner_bigStar_2 {
    }

    .gwd_banner_logo {
        top: 0px !important;
    }

    .gwd_banner_name_1 {
        top: 0px !important;
    }

    .gwd_banner_name_2 {
        top: 0px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }
}
@media only screen and (min-width:1280px) and (max-width:1365px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
    }

    .gwd_banner_fireworks_2 {
    }

    .gwd_banner_fireworks_2 {
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
    }

    .gwd_banner_bigStar_2 {
    }

    .gwd_banner_logo {
        
    }

    .gwd_banner_name_1 {
    }

    .gwd_banner_name_2 {
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }
}
@media only screen and (min-width:1080px) and (max-width:1279px) {
    #gwd-ad #nameThinhPhatWhite {
        top: 0px !important;
    }

    .gwd-img-15ep {
        top: 0px !important;
    }

    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
    }

    .gwd_banner_fireworks_2 {
    }

    .gwd_banner_fireworks_2 {
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
    }

    .gwd_banner_bigStar_2 {
    }

    .gwd_banner_logo {
        top: 0px !important;
    }

    #gwd-ad .gwd_banner_name_1 {
        top: 0px !important;
    }

    #gwd-ad .gwd_banner_name_2 {
        top: 0px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }
}
@media only screen and (min-width:1024px) and (max-width:1079px){
 
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
    }

    .gwd_banner_fireworks_2 {
    }

    .gwd_banner_fireworks_2 {
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
    }

    .gwd_banner_bigStar_2 {
    }

    .gwd_banner_logo {
        top:0px !important;
    }

    .gwd_banner_name_1 {
        top: 0px !important;
    }

    .gwd_banner_name_2 {
        top:0px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }

}
@media only screen and (min-width:991px) and (max-width:1023px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
        left: 0px !important;
        top: -100px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 50px !important;
        top: -90px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 100px !important;
        top: -80px !important;
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest {
        left: 100px !important;
    }

    .gwd_banner_uytin {
        top: -90px !important;
        left: 100px !important;
    }

    .gwd_banner_cooperative {
        left: 240px !important;
    }

    .gwd_banner_hoptac {
        top: -76px !important;
        left: 240px !important;
    }

    .gwd_banner_quality {
        left: 380px !important;
    }

    .gwd_banner_chatluong {
        top: -76px !important;
        left: 380px !important;
    }
}
@media only screen and (min-width:837px) and (max-width:990px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
        left: 0px !important;
        top: -100px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 50px !important;
        top: -90px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 100px !important;
        top: -80px !important;
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest {
        left: 100px !important;
    }

    .gwd_banner_uytin {
        top: -90px !important;
        left: 100px !important;
    }

    .gwd_banner_cooperative {
        left: 240px !important;
    }

    .gwd_banner_hoptac {
        top: -76px !important;
        left: 240px !important;
    }

    .gwd_banner_quality {
        left: 380px !important;
    }

    .gwd_banner_chatluong {
        top: -76px !important;
        left: 380px !important;
    }
} /*end 837*/
@media only screen and (min-width:800px) and (max-width:836px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
        left: 0px !important;
        top: -100px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 50px !important;
        top: -90px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 100px !important;
        top: -80px !important;
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest {
        left: 100px !important;
    }

    .gwd_banner_uytin {
        top: -90px !important;
        left: 100px !important;
    }

    .gwd_banner_cooperative {
        left: 240px !important;
    }

    .gwd_banner_hoptac {
        top: -76px !important;
        left: 240px !important;
    }

    .gwd_banner_quality {
        left: 380px !important;
    }

    .gwd_banner_chatluong {
        top: -76px !important;
        left: 380px !important;
    }
} /*end 800*/
@media only screen and (min-width:768px) and (max-width:799px){
   .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
        left: 0px !important;
        top: -100px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 50px !important;
        top: -90px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 100px !important;
        top: -80px !important;
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest {
        left: 100px !important;
        
    }
   .gwd_banner_uytin {
       top:-90px !important;
        left: 100px !important;
    }

    .gwd_banner_cooperative {
        
        left: 240px !important;
    }
    .gwd_banner_hoptac {
        top: -76px !important;
        left: 240px !important;
    }
    .gwd_banner_quality {
        
        left: 380px !important;
    }
    .gwd_banner_chatluong {
        top: -76px !important;
        left: 380px !important;
    }
}
@media only screen and (min-width:736px) and (max-width:767px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
        left: 0px !important;
        top: -100px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 50px !important;
        top: -90px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 100px !important;
        top: -80px !important;
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest {
        left: 100px !important;
    }

    .gwd_banner_uytin {
        top: -90px !important;
        left: 100px !important;
    }

    .gwd_banner_cooperative {
        left: 240px !important;
    }

    .gwd_banner_hoptac {
        top: -76px !important;
        left: 240px !important;
    }

    .gwd_banner_quality {
        left: 380px !important;
    }

    .gwd_banner_chatluong {
        top: -76px !important;
        left: 380px !important;
    }
}
@media only screen and (min-width:667px) and (max-width:735px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
        left: 0px !important;
        top: -100px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 50px !important;
        top: -90px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 100px !important;
        top: -80px !important;
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest {
        left: 100px !important;
        
    }
   .gwd_banner_uytin {
       top:-90px !important;
        left: 100px !important;
    }

    .gwd_banner_cooperative {
        
        left: 240px !important;
    }
    .gwd_banner_hoptac {
        top: -76px !important;
        left: 240px !important;
    }
    .gwd_banner_quality {
        
        left: 380px !important;
    }
    .gwd_banner_chatluong {
        top: -76px !important;
        left: 380px !important;
    }
}/* end 667*/
@media only screen and (min-width:640px) and (max-width:666px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
        left: 0px !important;
        top: -100px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 50px !important;
        top: -90px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 100px !important;
        top: -80px !important;
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }
}
@media only screen and (min-width:600px) and (max-width:639px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
        left: 0px !important;
        top: -100px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 50px !important;
        top: -90px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 100px !important;
        top: -80px !important;
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }
}
@media only screen and (min-width:568px) and (max-width:599px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
        left: 0px !important;
        top: -100px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 50px !important;
        top: -90px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 100px !important;
        top: -80px !important;
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }
} /*end 568*/
@media only screen and (min-width:480px) and (max-width:567px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
        left: 0px !important;
        top: -100px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 50px !important;
        top: -90px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 100px !important;
        top: -80px !important;
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }
} /* end 480*/
@media only screen and (min-width:414px) and (max-width:479px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
        left: 0px !important;
        top: -100px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 50px !important;
        top: -90px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 100px !important;
        top: -80px !important;
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }
}
@media only screen and (min-width:384px) and (max-width:413px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
        left: 0px !important;
        top: -100px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 50px !important;
        top: -90px !important;
    }

    .gwd_banner_fireworks_2 {
        left: 100px !important;
        top: -80px !important;
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }
}
@media only screen and (min-width:375px) and (max-width:383px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
    }

    .gwd_banner_fireworks_2 {
    }

    .gwd_banner_fireworks_2 {
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }
}
@media only screen and (min-width:320px) and (max-width:374px){
    .gwd_banner_bg {
        
    }

    .gwd_banner_fireworks_1 {
    }

    .gwd_banner_fireworks_2 {
    }

    .gwd_banner_fireworks_2 {
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left:40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top:-80px !important;
        width:400px !important;
        height:400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }
}
@media only screen and (min-width:0px) and (max-width:320px){
    .gwd_banner_bg {
    }

    .gwd_banner_fireworks_1 {
    }

    .gwd_banner_fireworks_2 {
    }

    .gwd_banner_fireworks_2 {
    }

    gwd_banner_birds {
    }

    .gwd_banner_bigStar_1 {
        top: 0px !important;
        left: 50px !important;
    }

    .gwd_banner_bigStar_2 {
        top: -20px !important;
        left: 0px !important;
    }

    .gwd_banner_logo {
        height: 100px !important;
        width: 100px !important;
        top: 0px !important;
        left: 40px !important;
    }


    .gwd_banner_name_1, .gwd_banner_name_2 {
        top: -80px !important;
        width: 400px !important;
        height: 400px !important;
    }

    .gwd_banner_sunshine_1 {
    }

    .gwd_banner_sunshine_2 {
    }

    .gwd_banner_honest, .gwd_banner_uytin {
    }

    .gwd_banner_cooperative, .gwd_banner_hoptac {
    }

    .gwd_banner_quality, .gwd_banner_chatluong {
    }
}