@{
    ViewBag.Title = "Contact Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

@{ Html.RenderAction("Banner", "Portfolio");}


<div class="content_cen about-bg page-bg">
    <div class="wrapper">
        <div class="header_wrapper">
            <ul class="header_wrapper_nav">
                <li class="current">
                    <a href="#">
                        <h3 class="">Liên hệ với Thịnh Phát</h3>
                    </a>
                </li>
                
            </ul>
        </div>
        <div class="content_wrapper">

                <div class="portfolio_container">
                    <!-- Project One -->
                    <!-- Content Row -->
                    <div class="">
                        <!-- Map Column -->
                        <div class="col-md-8">
                            <!-- Embedded Google Map -->
                            <iframe class="googlemaps" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d380510.6741687111!2d-88.01234121699822!3d41.83390417061058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1455598377120" style="border:0" allowfullscreen=""></iframe>
                        </div>
                        <!-- Contact Details Column -->
                        <div class="col-md-4 portfolio_summary">
                            <p class="portfolio_summary_title">
                                Địa chỉ liên hệ :
                            </p>
                            <div class="portfolio_summary_content">
                                <span>
                                    <strong>Điện thoại :</strong> 123.456.7890
                                    <br/>
                                  
                                    <strong>Email :</strong> <a href="mailto:name@example.com">name@example.com</a>
                                    <br/>
                                  
                                    <strong>Địa chỉ :</strong> "Địa chỉ công ty ThinhPhat"
                                </span>
                            </div>

                            <br />
                            
                        </div>
                    </div>
                    <!-- /.row -->
                    <!-- Contact Form -->
                    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
                    <div class="">
                        <div class="col-md-8">
                            <h3 class="contact-agileits2 portfolio_summary_title">Gửi thông tin phản hồi</h3>
                            <form action="#" method="post">
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Họ và Tên:</label>
                                        <input type="text" class="form-control" id="name" placeholder="Please enter your name." required="">
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Số điện thoại:</label>
                                        <input type="tel" class="form-control" id="phone" placeholder="Please enter your phone number." required="">
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Email:</label>
                                        <input type="email" class="form-control" id="email" placeholder="Please enter your email address." required="">
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Nội dung phản hồi:</label>
                                        <textarea rows="10" cols="100" class="form-control" id="message" placeholder="Please enter your message" maxlength="999" style="resize:none" required=""></textarea>
                                    </div>
                                </div>
                                <button href="#" type="submit" class="btn btn-primary">Gửi</button>
                            </form>
                        </div>

                    </div>
                    <!-- /.row -->
                    <!-- /.row -->
                    <br />
                
                    <hr>
                </div>
          
        </div>
    </div>
</div>




