@{
    ViewBag.Title = "Partner Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

@{ Html.RenderAction("Banner", "Portfolio");}

<div class="content_cen about-bg page-bg">
    <div class="wrapper">
        <div class="header_wrapper">
            <ul class="header_wrapper_nav">
                <li class="current">
                    <a href="#">
                        <h3 class="">Đối tác</h3>
                    </a>
                </li>
            </ul>
        </div>
        <section class="content_wrapper our_partner">
            <div class="portfolio_container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 blog-w3ls1 portfolio_summary">
                        <p class="portfolio_summary_title">Danh sách đối tác</p>
                        <div class="portfolio_summary_content">
                            <span>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.
                            </span>
                        </div>
                        
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 blog-w3ls2">
                        <div class="agile">
                            <a href="blogpost.html" class="blogimg-w3ls">
                                <div class="hover01 column">
                                    <div>
                                        <figure><img src="~/Assets/client/images/Thep Posco-SSVina.jpg" alt="w3layouts" class="img-responsive"></figure>
                                    </div>
                                </div>
                            </a>
                            <a href="blogpost.html" class="agile_content"><h4>Lorem ipsum dolor</h4></a>
                            <p class="blog-p2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="blogpost.html" class="agile_read_more">
                                <p>Read More</p>
                                <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 blog-w3ls2">
                        <div class="agile">
                            <a href="blogpost.html" class="blogimg-w3ls">
                                <div class="hover01 column">
                                    <div>
                                        <figure><img src="~/Assets/client/images/Smart energy.jpg" alt="w3layouts" class="img-responsive"></figure>
                                    </div>
                                </div>
                            </a>
                            <a href="blogpost.html" class="agile_content"><h4>Lorem ipsum dolor</h4></a>
                            <p class="blog-p2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="blogpost.html" class="agile_read_more">
                                <p>Read More</p>
                                <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 blog-w3ls2">
                        <div class="agile">
                            <a href="blogpost.html" class="blogimg-w3ls">
                                <div class="hover01 column">
                                    <div>
                                        <figure><img src="~/Assets/client/images/blog-img1.jpg" alt="w3layouts" class="img-responsive"></figure>
                                    </div>
                                </div>
                            </a>
                            <a href="blogpost.html" class="agile_content"><h4>Lorem ipsum dolor</h4></a>
                            <p class="blog-p2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <a href="blogpost.html" class="agile_read_more">
                                <p>Read More</p>
                                <span class="fa fa-angle-double-right" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
