.navbar-wrapper{
    margin-top:160px;
}
.navbar-toggle{
    float:left;
}
.container #navbar{
    
    font-family:'graham';
}

.navbar-right .dropdown-menu{
    left:auto;
    right:auto;
    min-width:0px !important;
}
.navbar-right .dropdown-menu li .dropdown-menu-sub{
    left:100%;
    top:auto;
    margin-top:-30px;
}
.navbar-right li .dropdown-menu-sub li{
    position:relative;
}

#navbar ul .open .dropdown-toggle{
    background-color: #5e615e !important;
}
.dropdown-menu li a:hover{
    color:#4f7ee3;
    font-weight:bold;
    background-color:#b9aeae;
    text-decoration:none;
}
.cl-effect-5 li a span{
    width:110%;
}
.cl-effect-5 li a span::before{
    color:#ffa800;
    font-weight:bold;
    font-size:15px;
}
.caret{
    display:block;
    margin-left:50%;
    border-top:2px dashed;
}
.footer{
    background-color:#e5e5e5;
    
}
.footer p{
    color:darkblue;
    
} 


@media only screen and (min-width:1366px) and (max-width:1444px){
    .navbar-wrapper{
         margin-top:170px;
    }
 
    .container{
      
        width:1289px;
        padding-right:0px;
        padding-left:0px;
    }
     .innerpage-banner embed{
        width:1289px;
        
    }
     .home_imagination embed{
         width:1289px;
         
     }
     .home_imagination{
         margin-top:0px;
     }
     
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
            width: 760px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .portfolio_summary p{
        margin-top:15px;
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
    }
    .contact_kmkz .portfolio_summary p{
       
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.menu_members_center,.menu_member_bottom{
        width:auto !important;
    }
    #map{
        margin:10px;
        width:680px;
    }
}
@media only screen and (min-width:1280px) and (max-width:1365px){
    .navbar-wrapper{
         margin-top:170px;
    }
 
    .container{
      
        width:1289px;
        padding-right:0px;
        padding-left:0px;
    }
     .innerpage-banner embed{
        width:1289px;
        
    }
     .home_imagination embed{
         width:1289px;
         
     }
     .home_imagination{
         margin-top:0px;
     }
     
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
            width: 760px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .portfolio_summary p{
        margin-top:15px;
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
    }
    .contact_kmkz .portfolio_summary p{
       
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.menu_members_center,.menu_member_bottom{
        width:auto !important;
    }
    #map{
        margin:10px;
        width:680px;
    }
} /*end 1280*/

@media only screen and (min-width:1080px) and (max-width:1279px){
    .navbar-wrapper{
      
    }
      ul.nav.navbar-nav.navbar-right{
         margin:0px;
     }
    .container{
      
        width:1080px;
        padding-right:0px;
        padding-left:0px;
    }
     .innerpage-banner embed{
        width:1080px;
        height:193px;
        
    }
     .home_imagination embed{
         width:1080px;
         height:46px;
         
     }
     .home_imagination{
         margin-top:0px;
     }
     
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
            width: 560px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .portfolio_summary p{
        margin-top:15px;
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.menu_members_center,.menu_member_bottom{
        width:auto !important;
    }
    .about_kmkz #menu_organize{
        margin-left:90px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        
    }
    .ledger_kmkz .portfolio_title{
        margin-left:90px;
    }
    .ledger_kmkz .column{
        width:810px;
    }
    #map{
        margin:10px;
        width:860px;
    }
} /*end 1080*/
@media only screen and (min-width:1024px) and (max-width:1079px){
    .navbar-wrapper{
      
    }
      ul.nav.navbar-nav.navbar-right{
         margin:0px;
     }
    .container{
      
        width:1024px;
        padding-right:0px;
        padding-left:0px;
    }
     .innerpage-banner embed{
        width:1024px;
        height:190px;
        
    }
     .home_imagination embed{
         width:1024px;
         height:45px;
         
     }
     .home_imagination{
         margin-top:0px;
     }
     
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
            width: 560px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .portfolio_summary p{
        margin-top:15px;
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.menu_members_center,.menu_member_bottom{
        width:auto !important;
    }
    .about_kmkz #menu_organize{
        margin-left:90px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        
    }
    .ledger_kmkz .portfolio_title{
        margin-left:90px;
    }
    .ledger_kmkz .column{
        width:810px;
    }
    #map{
        margin:10px;
        width:810px;
    }
} /* end 1024*/

@media only screen and (min-width:991px) and (max-width:1023px){
    .navbar-wrapper{
      margin-top:130px;
    }
      ul.nav.navbar-nav.navbar-right{
         margin:0px;
     }
    .container{
      
        width:853px;
        padding-right:0px;
        padding-left:0px;
    }
     .innerpage-banner embed{
        width:853px;
        height:152px;
        
    }
     .home_imagination embed{
         width:853px;
         height:36px;
         
     }
     .home_imagination{
         margin-top:0px;
     }
     
   
    /* about*/
    .about_kmkz .board_item .image{
        padding:0px !important;
        margin-top:10px;
    }
    .about_kmkz .board_item .image img{
            width: 660px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .portfolio_summary p{
        margin-top:15px;
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.menu_members_center,.menu_member_bottom{
        width:auto !important;
    }
    .about_kmkz #menu_organize{
        margin-left:90px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        
    }
    .ledger_kmkz .portfolio_title{
        margin-left:90px;
    }
    .ledger_kmkz .column{
        
    }
    #map{
        margin:10px;
      
    }
}

@media only screen and (min-width:837px) and (max-width:990px){
    .navbar-wrapper{
      margin-top:130px;
    }
      ul.nav.navbar-nav.navbar-right{
         margin:0px;
     }
    .container{
      
        width:853px;
        padding-right:0px;
        padding-left:0px;
    }
     .innerpage-banner embed{
        width:853px;
        height:152px;
        
    }
     .home_imagination embed{
         width:853px;
         height:36px;
         
     }
     .home_imagination{
         margin-top:0px;
     }
     
   
    /* about*/
    .about_kmkz .board_item .image{
        padding:0px !important;
        margin-top:10px;
    }
    .about_kmkz .board_item .image img{
            width: 660px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .portfolio_summary p{
        margin-top:15px;
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.menu_members_center,.menu_member_bottom{
        width:auto !important;
    }
    .about_kmkz #menu_organize{
        margin-left:90px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        
    }
    .ledger_kmkz .portfolio_title{
        margin-left:90px;
    }
    .ledger_kmkz .column{
        
    }
    #map{
        margin:10px;
      
    }
} /**/
@media only screen and (min-width:800px) and (max-width:836px){
    .container{
      
        width:730px;
        padding-right:0px;
        padding-left:0px;
    }
     .innerpage-banner embed{
        width:730px;
        height:130px;
    }
     .home_imagination embed{
         width:730px;
         height:31px;
     }
     .home_imagination{
         margin-top:0px;
     }
     
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
            width: 560px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .portfolio_summary p{
        margin-top:15px;
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
    }
    .contact_kmkz .portfolio_summary p{
        padding-right:150px;
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.menu_members_center,.menu_member_bottom{
        width:auto !important;
    }
    #map{
        margin:10px;
    }
}
@media only screen and (min-width:768px) and (max-width:799px){
     .navbar-wrapper{
        margin-top:0px;
    }
   
    .container{
      
        width:736px;
        padding-right:0px;
        padding-left:0px;
    }
    .innerpage-banner{
        height:131px;
    }
     .innerpage-banner embed{
         height:131px;
        width:736px;

      
    }
    .home_imagination{
         margin-top:0px;
         height:32px;
     }
     .home_imagination embed{
          height:32px;
         width:736px;
        
     }
   
     .slidey-row .slidey-image{
         background-position:0px !important;
     }
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
       width: 230px;
       height: 200px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .header_wrapper_nav h3{
        font-size:18px;
    }

    .portfolio_summary p{
        margin-top:15px;
        
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .about_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .other_area .text-center{
        font-size:18px;
    }
    .partner_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .ledger_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    ul.menu_left_members_nav,ul.menu_left_members_nav li{
        width:240px !important;
        
    }
    .content_pic{
        width:200px !important;
        height:auto !important;
        float:none !important;
        margin-right:0px !important;
    }
    .content_img{
        width:240px !important;
        height:240px !important;
        margin-left:0px !important;
    }
    .ledger_kmkz .portfolio_title{
        min-height:130px;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.ledger_kmkz .portfolio_title .menu_members_center,.ledger_kmkz .portfolio_title .menu_member_bottom{
        /*width:auto !important;
        float:none;*/
        float:left;
    }
    .contact_kmkz .contact-agileits2{
        font-size:20px !important;
    }
    #map{
        margin:10px;
        
    }
}/**/
@media only screen and (min-width:736px) and (max-width:767px){
   .navbar-wrapper{
        margin-top:0px;
    }
    .container{
      
        width:736px;
        padding-right:0px;
        padding-left:0px;
    }
    .innerpage-banner{
        height:131px;
    }
     .innerpage-banner embed{
         height:131px;
        width:736px;

      
    }
    .home_imagination{
         margin-top:0px;
         height:32px;
     }
     .home_imagination embed{
          height:32px;
         width:736px;
        
     }
   
     .slidey-row .slidey-image{
         background-position:0px !important;
     }
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
       width: 230px;
       height: 200px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .header_wrapper_nav h3{
        font-size:18px;
    }

    .portfolio_summary p{
        margin-top:15px;
        
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .about_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .other_area .text-center{
        font-size:18px;
    }
    .partner_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .ledger_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    ul.menu_left_members_nav,ul.menu_left_members_nav li{
        width:240px !important;
        
    }
    .content_pic{
        width:200px !important;
        height:auto !important;
        float:none !important;
        margin-right:0px !important;
    }
    .content_img{
        width:240px !important;
        height:240px !important;
        margin-left:0px !important;
    }
    .ledger_kmkz .portfolio_title{
        min-height:130px;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.ledger_kmkz .portfolio_title .menu_members_center,.ledger_kmkz .portfolio_title .menu_member_bottom{
        /*width:auto !important;
        float:none;*/
        float:left;
    }
    .contact_kmkz .contact-agileits2{
        font-size:20px !important;
    }
    #map{
        margin:10px;
    }
}
@media only screen and (min-width:667px) and (max-width:735px){
    .navbar-wrapper{
        margin-top:0px;
    }
    .container{
      
        width:667px;
        padding-right:0px;
        padding-left:0px;
    }
    .innerpage-banner{
        height:119px;
    }
     .innerpage-banner embed{
         height:119px;
        width:667px;

      
    }
    .home_imagination{
         margin-top:0px;
         height:29px;
     }
     .home_imagination embed{
          height:29px;
         width:667px;
        
     }
   
     .slidey-row .slidey-image{
         background-position:0px !important;
     }
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
       width: 230px;
       height: 200px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .header_wrapper_nav h3{
        font-size:18px;
    }

    .portfolio_summary p{
        margin-top:15px;
        
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .about_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .other_area .text-center{
        font-size:18px;
    }
    .partner_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .ledger_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    ul.menu_left_members_nav,ul.menu_left_members_nav li{
        width:240px !important;
        
    }
    .content_pic{
        width:200px !important;
        height:auto !important;
        float:none !important;
        margin-right:0px !important;
    }
    .content_img{
        width:240px !important;
        height:240px !important;
        margin-left:0px !important;
    }
    .ledger_kmkz .portfolio_title{
        min-height:130px;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.ledger_kmkz .portfolio_title .menu_members_center,.ledger_kmkz .portfolio_title .menu_member_bottom{
        /*width:auto !important;
        float:none;*/
        float:left;
    }
    .contact_kmkz .contact-agileits2{
        font-size:20px !important;
    }
    #map{
        margin:10px;
    }
}
@media only screen and (min-width:640px) and (max-width:666px){
    .navbar-wrapper{
        margin-top:0px;
    }
    .container{
      
        width:640px;
        padding-right:0px;
        padding-left:0px;
    }
    .innerpage-banner{
        height:114px;
    }
     .innerpage-banner embed{
         height:114px;
        width:640px;

      
    }
    .home_imagination{
         margin-top:0px;
         height:27px;
     }
     .home_imagination embed{
          height:27px;
         width:640px;
        
     }
   
     .slidey-row .slidey-image{
         background-position:0px !important;
     }
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
       width: 230px;
       height: 200px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .header_wrapper_nav h3{
        font-size:18px;
    }

    .portfolio_summary p{
        margin-top:15px;
        
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .about_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .other_area .text-center{
        font-size:18px;
    }
    .partner_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .ledger_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    ul.menu_left_members_nav,ul.menu_left_members_nav li{
        width:240px !important;
        
    }
    .content_pic{
        width:200px !important;
        height:auto !important;
        float:none !important;
        margin-right:0px !important;
    }
    .content_img{
        width:240px !important;
        height:240px !important;
        margin-left:0px !important;
    }
    .ledger_kmkz .portfolio_title{
        min-height:130px;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.ledger_kmkz .portfolio_title .menu_members_center,.ledger_kmkz .portfolio_title .menu_member_bottom{
        /*width:auto !important;
        float:none;*/
        float:left;
    }
    .contact_kmkz .contact-agileits2{
        font-size:20px !important;
    }
    #map{
        margin:10px;
    }
}
@media only screen and (min-width:600px) and (max-width:639px){
     .navbar-wrapper{
        margin-top:0px;
    }
    .container{
      
        width:600px;
        padding-right:0px;
        padding-left:0px;
    }
    .innerpage-banner{
        height:91px;
    }
     .innerpage-banner embed{
         height:107px;
        width:600px;

      
    }
    .home_imagination{
         margin-top:0px;
         height:26px;
     }
     .home_imagination embed{
          height:26px;
         width:600px;
        
     }
   
     .slidey-row .slidey-image{
         background-position:0px !important;
     }
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
       width: 230px;
       height: 200px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .header_wrapper_nav h3{
        font-size:18px;
    }

    .portfolio_summary p{
        margin-top:15px;
        
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .about_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .other_area .text-center{
        font-size:18px;
    }
    .partner_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .ledger_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    ul.menu_left_members_nav,ul.menu_left_members_nav li{
        width:240px !important;
        
    }
    .content_pic{
        width:200px !important;
        height:auto !important;
        float:none !important;
        margin-right:0px !important;
    }
    .content_img{
        width:240px !important;
        height:240px !important;
        margin-left:0px !important;
    }
    .ledger_kmkz .portfolio_title{
        min-height:130px;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.ledger_kmkz .portfolio_title .menu_members_center,.ledger_kmkz .portfolio_title .menu_member_bottom{
        /*width:auto !important;
        float:none;*/
        float:left;
    }
    .contact_kmkz .contact-agileits2{
        font-size:20px !important;
    }
    #map{
        margin:10px;
    }
}
@media only screen and (min-width:568px) and (max-width:599px){
     .navbar-wrapper{
        margin-top:0px;
    }
    .container{
      
        width:568px;
        padding-right:0px;
        padding-left:0px;
    }
    .innerpage-banner{
        height:85px;
    }
     .innerpage-banner embed{
         height:101px;
        width:568px;

      
    }
    .home_imagination{
         margin-top:0px;
         height:18px;
     }
     .home_imagination embed{
          height:24px;
         width:568px;
        
     }
   
     .slidey-row .slidey-image{
         background-position:0px !important;
     }
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
       width: 230px;
       height: 200px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .header_wrapper_nav h3{
        font-size:18px;
    }

    .portfolio_summary p{
        margin-top:15px;
        
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .about_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .other_area .text-center{
        font-size:18px;
    }
    .partner_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .ledger_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    ul.menu_left_members_nav,ul.menu_left_members_nav li{
        width:240px !important;
        
    }
    .content_pic{
        width:200px !important;
        height:auto !important;
        float:none !important;
        margin-right:0px !important;
    }
    .content_img{
        width:240px !important;
        height:240px !important;
        margin-left:0px !important;
    }
    .ledger_kmkz .portfolio_title{
        min-height:130px;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.ledger_kmkz .portfolio_title .menu_members_center,.ledger_kmkz .portfolio_title .menu_member_bottom{
        /*width:auto !important;
        float:none;*/
        float:left;
    }
    .contact_kmkz .contact-agileits2{
        font-size:20px !important;
    }
    #map{
        margin:10px;
    }
}
@media only screen and (min-width:480px) and (max-width:567px){
     .navbar-wrapper{
        margin-top:0px;
    }
    .container{
      
        width:480px;
        padding-right:0px;
        padding-left:0px;
    }
    .header_wrapper{
        height:39px !important;
    }
    .innerpage-banner{
        height:86px;
    }
     .innerpage-banner embed{
         height:86px;
        width:480px;

      
    }
    .home_imagination{
         margin-top:0px;
         height:18px;
     }
     .home_imagination embed{
          height:20px;
         width:480px;
        
     }
   
     .slidey-row .slidey-image{
         background-position:0px !important;
     }
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
       width: 230px;
       height: 200px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .header_wrapper_nav h3{
        font-size:18px;
    }

    .portfolio_summary p{
        margin-top:15px;
        
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .about_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .other_area .text-center{
        font-size:18px;
    }
    .partner_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .ledger_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    ul.menu_left_members_nav,ul.menu_left_members_nav li{
        width:240px !important;
        
    }
    .content_pic{
        width:200px !important;
        height:auto !important;
        float:none !important;
        margin-right:0px !important;
    }
    .content_img{
        width:240px !important;
        height:240px !important;
        margin-left:0px !important;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.ledger_kmkz .portfolio_title .menu_members_center,.ledger_kmkz .portfolio_title .menu_member_bottom{
        /*width:auto !important;
        float:none;*/
    }
    .contact_kmkz .contact-agileits2{
        font-size:20px !important;
    }
    #map{
        margin:10px;
    }

} /*end 480*/
@media only screen and (min-width:414px) and (max-width:479px){
    .navbar-wrapper{
        margin-top:0px;
    }
    .container{
      
        width:320px;
        padding-right:0px;
        padding-left:0px;
    }
    .innerpage-banner{
        height:60px;
    }
     .innerpage-banner embed{
         height:60px;
        width:320px;

      
    }
    .home_imagination{
         margin-top:0px;
         height:18px;
     }
     .home_imagination embed{
          height:18px;
         width:320px;
        
     }
   
     .slidey-row .slidey-image{
         background-position:0px !important;
     }
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
       width: 230px;
       height: 200px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .header_wrapper_nav h3{
        font-size:18px;
    }

    .portfolio_summary p{
        margin-top:15px;
        
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .about_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .other_area .text-center{
        font-size:18px;
    }
    .partner_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .ledger_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    ul.menu_left_members_nav,ul.menu_left_members_nav li{
        width:240px !important;
        
    }
    .content_pic{
        width:auto !important;
        height:auto !important;
        float:none !important;
        margin-right:0px !important;
    }
    .content_img{
        width:240px !important;
        height:240px !important;
        margin-left:0px !important;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.ledger_kmkz .portfolio_title .menu_members_center,.ledger_kmkz .portfolio_title .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    .contact_kmkz .contact-agileits2{
        font-size:20px !important;
    }
    #map{
        margin:10px;
    }
}
@media only screen and (min-width:384px) and (max-width:413px){
     .navbar-wrapper{
        margin-top:0px;
    }
    .container{
      
        width:320px;
        padding-right:0px;
        padding-left:0px;
    }
    .innerpage-banner{
        height:60px;
    }
     .innerpage-banner embed{
         height:60px;
        width:320px;

      
    }
    .home_imagination{
         margin-top:0px;
         height:18px;
     }
     .home_imagination embed{
          height:18px;
         width:320px;
        
     }
   
     .slidey-row .slidey-image{
         background-position:0px !important;
     }
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
       width: 230px;
       height: 200px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .header_wrapper_nav h3{
        font-size:18px;
    }

    .portfolio_summary p{
        margin-top:15px;
        
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .about_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .other_area .text-center{
        font-size:18px;
    }
    .partner_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .ledger_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    ul.menu_left_members_nav,ul.menu_left_members_nav li{
        width:240px !important;
        
    }
    .content_pic{
        width:auto !important;
        height:auto !important;
        float:none !important;
        margin-right:0px !important;
    }
    .content_img{
        width:240px !important;
        height:240px !important;
        margin-left:0px !important;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.ledger_kmkz .portfolio_title .menu_members_center,.ledger_kmkz .portfolio_title .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    .contact_kmkz .contact-agileits2{
        font-size:20px !important;
    }
    #map{
        margin:10px;
    }
}
@media only screen and (min-width:375px) and (max-width:383px){
    .navbar-wrapper{
        margin-top:0px;
    }
    .container{
      
        width:375px;
        padding-right:0px;
        padding-left:0px;
    }
    .header_wrapper{
        height:38px;
    }
    .innerpage-banner{
        height:60px;
    }
     .innerpage-banner embed{
         height:60px;
        width:375px;

      
    }
    .home_imagination{
         margin-top:0px;
         height:18px;
     }
     .home_imagination embed{
          height:18px;
         width:375px;
        
     }
   
     .slidey-row .slidey-image{
         background-position:0px !important;
     }
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
       width: 230px;
       height: 200px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .header_wrapper_nav h3{
        font-size:18px;
    }

    .portfolio_summary p{
        margin-top:15px;
        
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .about_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .other_area .text-center{
        font-size:18px;
    }
    .partner_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .ledger_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    ul.menu_left_members_nav,ul.menu_left_members_nav li{
        width:240px !important;
        
    }
    .content_pic{
        width:auto !important;
        height:auto !important;
        float:none !important;
        margin-right:0px !important;
    }
    .content_img{
        width:240px !important;
        height:240px !important;
        margin-left:0px !important;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.ledger_kmkz .portfolio_title .menu_members_center,.ledger_kmkz .portfolio_title .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    .contact_kmkz .contact-agileits2{
        font-size:20px !important;
    }
    #map{
        margin:10px;
    }
}
@media only screen and (min-width:320px) and (max-width:374px){
    .navbar-wrapper{
        margin-top:0px;
    }
    .container{
      
        width:320px;
        padding-right:0px;
        padding-left:0px;
    }
    .innerpage-banner{
        height:60px;
    }
     .innerpage-banner embed{
         height:60px;
        width:320px;

      
    }
    .home_imagination{
         margin-top:0px;
         height:18px;
     }
     .home_imagination embed{
          height:18px;
         width:320px;
        
     }
   
     .slidey-row .slidey-image{
         background-position:0px !important;
     }
   
    /* about*/
    .board_item .image{
        padding:0px !important;
        
    }
    .about_kmkz .board_item .image img{
       width: 230px;
       height: 200px;
            
    }
    .about_kmkz .content_text_area{
        margin-left:20px;
        margin-right:20px;
    }

    .header_wrapper_nav h3{
        font-size:18px;
    }

    .portfolio_summary p{
        margin-top:15px;
        
        line-height:20px !important;
    }

    .portfolio_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .about_kmkz .portfolio_summary_title{
        width:730px;
        float:left;
        font-size:20px;
    }
    .contact_kmkz .portfolio_summary p{
        
    }
 
    .portfolio_summary_title{
        padding-right:10px;
    }
    .portfolio_kmkz .content_wrapper_portfolio .portfolio_container figure img{
        width:100%;
    }
    .other_area .text-center{
        font-size:18px;
    }
    .partner_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .ledger_kmkz .portfolio_summary_title{
        font-size:20px;
    }
    .about_kmkz .menu_member_top,.about_kmkz .menu_members_center,.about_kmkz .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    ul.menu_left_members_nav,ul.menu_left_members_nav li{
        width:240px !important;
        
    }
    .content_pic{
        width:auto !important;
        height:auto !important;
        float:none !important;
        margin-right:0px !important;
    }
    .content_img{
        width:240px !important;
        height:240px !important;
        margin-left:0px !important;
    }
    .ledger_kmkz .portfolio_title .menu_member_top,.ledger_kmkz .portfolio_title .menu_members_center,.ledger_kmkz .portfolio_title .menu_member_bottom{
        width:auto !important;
        float:none;
    }
    .contact_kmkz .contact-agileits2{
        font-size:20px !important;
    }
    #map{
        margin:10px;
    }
} /*end 320*/