@{
    ViewBag.Title = "HDQT Organize";
    Layout = "~/Views/Shared/Layouts.cshtml";

}

@{ Html.RenderAction("Banner", "Portfolio");}

<div class="content_cen about-bg page-bg">
    <div class="wrapper">
        @{ Html.RenderAction("HeaderWrapperOrganize", "About");}
        <div class="content_wrapper">
            <div class="portfolio_container">
                <div class="row">
                    @{ Html.RenderAction("MenuOrganize", "About");}
                    <div class="col-md-9 portfolio_summary">
                        <div class="portfolio_summary_title">HỘI ĐỒNG QUẢN TRỊ</div>
                        <div class="portfolio_summary_content">

                            <div class="board_item">
                                <h3 class="name">Ông LÊ VIẾT HẢI</h3>
                                <div class="image"><img src="/Assets/client/images/hb.jpg" alt="Ông LÊ VIẾT HẢI"></div>
                                <div class="info">
                                    <div>
                                        <div>
                                            <span style="font-size:10.0pt;Arial&quot;,&quot;sans-serif&quot;">
                                                <strong>CHỦ TỊCH HỘI ĐỒNG QUẢN TRỊ - TỔNG GIÁM ĐỐC</strong><br>
                                                Năm sinh: 1958<br>
                                                Trình độ chuyên môn: Kiến trúc sư<br>
                                                <br>
                                                <strong>
                                                    Quá trình công tác<br>
                                                </strong><br>
                                                1985 - 1987: Công tác tại Công ty Quản lý Nhà Thành phố HCM,<br>
                                                1987 - 2000: Giám đốc Văn phòng Xây dựng Hòa Bình,<br>
                                                2000 - nay: Chủ tịch HĐQT, TGĐ Công ty CP XD &amp; KD Địa ốc Hòa Bình,<br>
                                                Danh hiệu Doanh nhân Sài Gòn tiêu biểu 2005, 2006, 2007, 2009 (UBND TP. HCM cấp)<br>
                                                Biểu tượng Vàng vì Sự nghiệp Văn hóa Doanh nhân Việt Nam,<br>
                                                Huy chương vàng "Quản lý Chất lượng Toàn cầu" của<br>
                                                CLB Lãnh đạo Doanh nghiệp (Madrid - Tây Ban Nha).
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="board_item">
                                <h3 class="name">Ông LÊ VIẾT HẢI</h3>
                                <div class="image"><img src="/Assets/client/images/hb.jpg" alt="Ông LÊ VIẾT HẢI"></div>
                                <div class="info">
                                    <div>
                                        <div>
                                            <span style="font-size:10.0pt;Arial&quot;,&quot;sans-serif&quot;">
                                                <strong>CHỦ TỊCH HỘI ĐỒNG QUẢN TRỊ - TỔNG GIÁM ĐỐC</strong><br>
                                                Năm sinh: 1958<br>
                                                Trình độ chuyên môn: Kiến trúc sư<br>
                                                <br>
                                                <strong>
                                                    Quá trình công tác<br>
                                                </strong><br>
                                                1985 - 1987: Công tác tại Công ty Quản lý Nhà Thành phố HCM,<br>
                                                1987 - 2000: Giám đốc Văn phòng Xây dựng Hòa Bình,<br>
                                                2000 - nay: Chủ tịch HĐQT, TGĐ Công ty CP XD &amp; KD Địa ốc Hòa Bình,<br>
                                                Danh hiệu Doanh nhân Sài Gòn tiêu biểu 2005, 2006, 2007, 2009 (UBND TP. HCM cấp)<br>
                                                Biểu tượng Vàng vì Sự nghiệp Văn hóa Doanh nhân Việt Nam,<br>
                                                Huy chương vàng "Quản lý Chất lượng Toàn cầu" của<br>
                                                CLB Lãnh đạo Doanh nghiệp (Madrid - Tây Ban Nha).
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>