@{
    ViewBag.Title = "About Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}

@{ Html.RenderAction("Banner", "Portfolio");}

<div class="content_cen about-bg page-bg">
    <div class="wrapper">
        <div class="header_wrapper">
            <ul class="header_wrapper_nav">
                <li class="current">
                    <a href="#">
                        <h3 class="">Vài nét về Thịnh Phát</h3>
                    </a>
                    
                </li>

            </ul>
            
        </div>
        <div class="content_wrapper">
            <div class="content_text_area">
                <div class="content_pic">
                    <div class="slideshow">

                        <img src="~/Assets/client/images/hb.jpg" width="308" height="372" alt="Vài Nét Về Thịnh Phát" class="content_img">
                    </div>
                </div>
      
                <p>
                    <span style="font-size: 13px;">
                        Lời đầu tiên, Công ty Cổ phần Khảo sát & Xây dựng công trình Thịnh Phát xin gửi đến Quý Công ty/ Quý Khách hàng lời chào trân trọng nhất.
                        <br /><br />
                        Kính thưa Quý vị, trong giai đoạn phát triển và hội nhập với nền kinh tế thế giới, nền kinh tế Việt Nam chúng ta đã và đang có những bước chuyển mình mạnh mẽ với nhiều thành tựu đạt được trong lĩnh vực cuộc sống. Với mong muốn được góp một phần công sức cho công cuộc công nghiệp hóa – hiện đại hóa đất nước, công ty chúng tôi được thành lập và là nơi hội tụ đông đảo của các thạc sỹ/kỹ sư giỏi chuyên môn, nhiều kinh nghiệm và tâm huyết với nghề.
                        <br /> <br />
                        Công ty Cổ phần Khảo sát & Xây dựng công trình Thịnh Phát (Thinh Phat Projet Construction & Survey Joint Stock Company – TP JSC) được thành lập theo Giấy chứng nhận đăng ký kinh doanh số 0311485533 do Sở Kế hoạch & Đầu tư Thành phố Hồ Chí Minh cấp ngày 12 tháng 01 năm 2012 và hoạt động theo các chức năng ngành nghề đã được chứng nhận, cụ thể như sau:
                        <br />
                        -	Tư vấn khảo sát địa chất, khảo sát địa hình, đo đạc bản đồ;
                        <br />
                        -	Tư vấn đầu tư xây dựng công trình đường dây và trạm biến áp có cấp điện áp đến 110kV. Tư vấn giám sát thi công công trình đường dây và trạm biến áp  có cấp điện áp đến 110kV;
                        <br />
                        -	Tư vấn thiết kế và tư vấn giám sát thi công các công trình xây dựng – điện, tư vấn quản lý dự án, thẩm định dự án các công trình Dân dụng – Công nghiệp, công trình giao thông nông thôn, hạ tầng kỹ thuật khu dân cư, san lắp mặt bằng, tư vấn khoan khai thác tài nguyên nước, khoáng sản, dịch vụ về môi trường;
                        <br />
                        -	Thi công các công trình xây dựng – điện dân dụng & công nghiệp, thi công các công trình đường dây và trạm biến áp có cấp điện áp đến 35kV.
                        <br />
                        -	Kinh doanh vật tư – thiết bị điện, dịch vụ vận tải, công nghệ, nghiên cứu thị trường….
                        <br />
                        <br />
                        Với tâm huyết được phục vụ và thực hiện các dịch vụ trong các lĩnh vực hoạt động kinh doanh đã được cấp phép, Thịnh Phát luôn lấy tiêu chí hoạt động “UY TÍN – CHẤT LƯỢNG” làm kim chỉ nam hành động xuyên suốt để phục vụ Quý Công ty/Quý Khách hàng các sản phẩm đạt chất lượng tốt nhất.
                        Chúng tôi hy vọng và mong muốn được trở thành đơn vị hợp tác đắc lực và đáng tin cậy phục vụ cho sự phát triển của Quý Công ty/Quý Khách hàng.

                    </span>
                </p>

                <p>
                </p>
            </div>
        </div>
    </div>
</div>