<div class="container">
   
        <section class="innerpage-banner">

            <embed width="1140" height="230" src="~/Assets/client/images/banner_flash_1.swf" type="application/x-shockwave-flash" />
        </section>

</div>

