<div class="slider">
    <ul class="slider-main">
        <li class="slider-panel">
            <img alt="W3layouts" title="Thịnh Phát" src="~/Assets/client/images/banner1.jpg">
            <div class="banner-info">
                <div class="row">
                    <div class="col-lg-6 banner-w3ls1">
                        <h3>Stays On Track</h3>
                    </div>
                    <div class="col-lg-6 banner-w3ls2">
                        <p>Phần mô tả này do phía ThinhPhat cung cấp</p>
                        <a href="blogpost.html">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="slider-panel">
            <img alt="W3layouts" title="Thịnh Phát" src="~/Assets/client/images/banner2.jpg">
            <div class="banner-info">
                <div class="row">
                    <div class="col-lg-6 banner-w3ls1">
                        <h3>Today And Tomorrow</h3>
                    </div>
                    <div class="col-lg-6 banner-w3ls2">
                        <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        <a href="blogpost.html">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="slider-panel">
            <img alt="W3layouts" title="Thịnh Phát" src="~/Assets/client/images/banner3.jpg">
            <div class="banner-info">
                <div class="row">
                    <div class="col-lg-6 banner-w3ls1">
                        <h3>Long Live</h3>
                    </div>
                    <div class="col-lg-6 banner-w3ls2">
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with.</p>
                        <a href="blogpost.html">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="slider-panel">
            <img alt="W3layouts" title="Thịnh Phát" src="~/Assets/client/images/banner4.jpg">
            <div class="banner-info">
                <div class="row">
                    <div class="col-lg-6 banner-w3ls1">
                        <h3>A Radical New Idea</h3>
                    </div>
                    <div class="col-lg-6 banner-w3ls2">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                        <a href="blogpost.html">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </li>
        <li class="slider-panel">
            <img alt="W3layouts" title="Thịnh Phát" src="~/Assets/client/images/banner5.jpg">
            <div class="banner-info">
                <div class="row">
                    <div class="col-lg-6 banner-w3ls1">
                        <h3>The Solution</h3>
                    </div>
                    <div class="col-lg-6 banner-w3ls2">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        <a href="blogpost.html">Xem chi tiết</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slider-extra">
        <ul class="slider-nav">
            <li class="slider-item">1</li>
            <li class="slider-item">2</li>
            <li class="slider-item">3</li>
            <li class="slider-item">4</li>
            <li class="slider-item">5</li>
        </ul>
        <div class="slider-page"> <a class="slider-pre" href="javascript:;;">&lt;</a> <a class="slider-next" href="javascript:;;">&gt;</a> </div>
    </div>
</div>