
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
<link href="~/Assets/client/css/navigation.css" rel="stylesheet" />
@{ Html.RenderAction("Banner", "Portfolio");}
<div class="home_imagination container">
    <embed width="1140" height="55" src="~/Assets/client/images/navbar_flash_thinhphat.swf" type="application/x-shockwave-flash" />
</div>
@{ Html.RenderAction("Slider", "Home"); }

@section SliderJS{

    <script type="text/javascript" src="~/Assets/client/js/zslider-1.0.1.js"></script>
    <script type="text/javascript">
		    var slider = $('.slider').zslider({
			    imagePanels: $('.slider-panel'),
			    ctrlItems: $('.slider-item'),
			    ctrlItemHoverCls: 'slider-item-selected',
			    //panelHoverShowFlipBtn: false,
			    flipBtn: {
				    container: $('.slider-page'),
				    preBtn: $('.slider-pre'),
				    nextBtn: $('.slider-next')
			    },
			    callbacks: {
				    animate: function(imagePanels, ctrlItems, fromIndex, toIndex) {
					    return true;
				    }
			    }
		    });
		   
    </script>
    

}




